<html>

<!-- Semantic META -->
<meta name="keywords" content="Subis Travel, travels, offers">
<meta name="description" content="Subis Travel">

<!-- Facebook META -->
<meta property="fb:app_id" content="1094264387291101" />
<meta name="og:url" property="og:url" content="<%=model.link %>" />
<meta name="og:title" property="og:title" content="<%=model.title %>" />
<meta name="og:description" property="og:description" content="<%=model.description %>" />
<meta name="og:image" property="og:image" content="<%=model.imageUrl %>" />
<meta name="og:type" property="og:type" content="website" />

<!-- Twitter META -->
<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image:src" content="" />

<body>
    <h1>Hola</h1>
    
<script>
	setTimeout(function(){
		window.location.href = '<%=model.link %>'; 
	}, 1);
</script>
</body>

</html>